{% extends 'admin/base.html.twig' %}

{% block title %}Paramètres du site{% endblock %}

{% block body %}
    <h1>Paramètres du site</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.address) }}
    {{ form_row(form.title) }}
    {{ form_row(form.subtitle) }}
    {{ form_row(form.subsubtitle) }}
    {{ form_row(form.description1) }}
    {{ form_row(form.description2) }}
    {{ form_row(form.latitude) }}
    {{ form_row(form.longitude) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}