{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter une Photo{% endblock %}

{% block body %}
    <h1>Ajouter une Photo</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.categories) }}
    {{ form_row(form.imageFile) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <div class="back-link">
        <a href="{{ path('admin_photos') }}">&#8592; Retour à la liste des photos</a>
    </div>
{% endblock %}
